{{#each events as |event|}}
  <div class="event user-events redbg" data-id="{{event.id}}">
    <div class="user-content">
      <div class="view-mode-{{event.id}} view-mode">
        <h2>
          <small>Title: </small>{{limit event.title 40}}
        </h2>
        <p class="d-none"><small>ID: </small> {{event.id}}</p>
        <p>
          <small>Description: </small>
          {{#if event.description}} {{event.description}}
          {{else}}
            No description provided.
          {{/if}}
        </p>
        <p>
          <small>Date: </small>
          {{#if event.date}}{{event.date}}
          {{else}}
            No date provided.
          {{/if}}
        </p>
        <p>
          <small>Time:</small>
          {{#if event.readtime}}{{event.readtime}}
          {{else}}
            No time provided.
          {{/if}}
        </p>
        <p>
          <small>Contact: </small>{{event.user.email}}</p>
        </p>
      </div>

      <form class="d-none edit-mode-{{event.id}} my-update-form edit-mode">
        <h2>Title: <input name="event[title]" type="text" placeholder="title" value="{{event.title}}" required> </h2>
        <p class="d-none"><small>ID: </small><input name="event[id]" type="number" placeholder="id" value="{{event.id}}" required> </p>
        <p><small>Description: </small><textarea name="event[description]" placeholder="description" required>{{event.description}}</textarea></p>
        <p><small>Date: </small><input name="event[date]" type="date" placeholder="date" value="{{event.date}}" required></p>
        <p>
        <smal>Time: </smal><input name="event[time]" type="time" placeholder="time" value="{{event.readtime}}" required>
        <p></p>
            <button type="submit" class="btn btn-outline-light update-btn edit-events-button">Update Event</button>
      </form>

      <form class="d-none edit-mode-{{event.id}} hide-form edit-mode">
        <input name="id" type="number" value="{{event.id}}" class="d-none" required>
        <button type="submit" class="btn btn-outline-light stop-update-btn edit-events-button">Cancel Update</button>
      </form>

      <form class="edit-mode edit-mode-{{event.id}} delete-event-form">
        <input name="id" type="number" value="{{event.id}}" class="d-none" required>
        <button type="submit" class="btn btn-outline-light edit-events-button">Delete Event</button>
      </form>


    <form class="view-form view-mode-{{event.id}} view-mode">
      <input name="id" type="number" value="{{event.id}}" class="d-none" required>
      <button type="submit" class="btn btn-outline-light view-mode edit-btn edit-events-button">Edit Event</button>
    </form>



  </div>
  </div>

{{/each}}
